body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #222;
    background: linear-gradient(-45deg, #ffffff, #f5f5f5, #ffecec, #ffffff);
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    color: #d60000;
    font-size: 2.5em;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #d60000;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero img {
    width: 320px;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.hero-text h2 {
    font-size: 2.2em;
    color: #d60000;
}

.quote {
    font-style: italic;
    opacity: 0.7;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 260px;
    text-align: center;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(214, 0, 0, 0.3);
}

.card h2 {
    margin: 10px 0;
    color: #d60000;
}

footer {
    text-align: center;
    padding: 25px;
    background: white;
    margin-top: 40px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}
.video-hero {
    position: relative;
    height: 65vh; /* видео меньше */
    max-height: 600px;
    overflow: hidden;
    border-radius: 20px;
    margin: 40px auto;
    width: 90%;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}


.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.video-overlay h1 {
    color: white;
    font-size: 5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 0 5px 20px rgba(0,0,0,0.7);
}
.club-intro {
    text-align: center;
    padding: 60px 20px;
}

.club-logo {
    width: 180px;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: 0.4s;
}

.club-logo:hover {
    transform: scale(1.05);
}

.club-quote {
    font-size: 1.5rem;
    max-width: 700px;
    margin: 0 auto 15px auto;
    line-height: 1.6;
    font-weight: 500;
}

.quote-author {
    font-style: italic;
    color: #d60000;
    font-weight: bold;
}
